.container {
  padding: 0px;
  padding-bottom: 20px;
  margin: auto;
}

h1 {
  color: black;
  margin: auto;
  text-align: center;
}

.row-select {
  padding-top: 80px;
  padding-left: 70px;
}

.row-imgs {
  width: 500px;
}

.images {
  width: 80px;
  height: 160px;
}

.image-selected {
  border: 3px inset white;
  border-radius: 5px;
}

.input,
.dropdown,
button,
.description,
.napon {
  font-size: 15px;
}

select,
button {
  display: block;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

input {
  background-color: lightgrey;
}

.imageBody {
  padding-bottom: 70px;
}

.imageVoltages {
  width: 300px;
  height: 180px;
}

.row-show {
  padding-top: 30px;
}

.row-img {
  padding-top: 30px;
  width: 570px;
}

@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    margin: auto;
    padding-left: 15px;
  }

  .images {
    padding-bottom: 2px;
  }

  .input,
  .dropdown,
  button,
  .description,
  .napon {
    font-size: 13px;
  }

  .container {
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
  }

  .row-show {
    padding: 0px;
  }

  .row-chart {
    padding-top: 40px;
  }

  .imageBody {
    padding-bottom: 10px;
  }

  .imageVoltages {
    padding-right: 50px;
  }
}
