<div class="container">
  <div class="row row-container">
    <div class="col-sm-8 col-lg-4">
      <p>
        Zadatak ovog rada je izračunati jakosti struje u ljudskom tijelu u
        slučaju strujnog udara. Najčešći scenariji protoka struje su od jedne do
        druge ruke ili od jedne ruke do oba stopala. Ljudsko tijelo se
        aproksimira geometrijskim tijelima. Aproksimacija ruku i nogu je vršena
        valjkom, a trupa kvadrom.
      </p>
    </div>
    <div class="col-sm-8 col-lg-6">
      <img src=".\assets\img\body.PNG" class="img-fluid" alt="Human body" />
    </div>
  </div>
</div>

<footer class="page-footer font-small bg-secondary">
    <div class="container" style="color: white">
      <div class="row">
        <div class="col-md-6 text-left">
          <h5 class="text-uppercase ">Završni rad</h5>
          <br>
          <p style="font-size:15px;">Student: Ivana Cvitković</p>
          <p style="font-size:15px;">Mentor: prof. dr. sc. Vicko Dorić</p>
          <p style="font-size:15px;">Studij: stručni studij računarstva</p>
        </div>
        <div class="col-md-6 text-left">
            <br><br>
            <p style="font-size:15px;">Web aplikacija temelji se na završnom radu "Proračun gustoće struje u ljudskom tijelu u slučaju strujnog udara na vrlo niskim frekvencijama" studenta FESB-a Petra Bonacina.</p>
        </div>
    </div>
  </div>
  </footer>