<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-4">
      <p>
        Zadatak ovog rada je izračunati jakosti struje u ljudskom tijelu u
        slučaju strujnog udara. Najčešći scenariji protoka struje su od jedne do
        druge ruke ili od jedne ruke do oba stopala. Ljudsko tijelo se
        aproksimira geometrijskim tijelima. Aproksimacija ruku i nogu je vršena
        valjkom, a trupa kvadrom.
      </p>
    </div>
    <div class="col-sm-8 col-md-4">
      <img src=".\assets\img\human_body.jpg" class="img-fluid" alt="Human body" />
    </div>
  </div>
</div>